h1 {
    font-size: 36px;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
}


.Projects .Divider {
    width: 160px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Projects .Divider .Line {
    width: 45%;
    border: 1px solid #222;
    margin: 0;
}
.Projects .Divider .Div {

    display: flex;
    align-items: center;
}
.Projects .Divider .Div p {
    margin: 0 10px;
    font-size: 14px;
}


.Portfolio {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 40px 0;
}

.Project-item {
	position: relative;
	padding: 10px;
}


.Project-item button {
  text-decoration: none;
  position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-bottom: 0;
	padding: 0;
	border: none;
	display: block;
  background-color: #fff;
}
.Project-item img {
  max-width: 100%;
	height: auto;
}


.Project-item .Caption {
  position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	padding: 0;
	background: #fff;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
}

.Project-item .Caption:hover {
  opacity: 1;
}

.Project-item .Caption .Caption-content {
	position: absolute;
	top: 50%;
	width: 100%;
	height: auto;
	margin-top: -70px;
	text-align: center;
	font-size: 14px;
	color: #222;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	transition: all ease .4s;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.Project-item .Caption:hover .Caption-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.Project-item .Caption .Caption-content h2{
	font-size: 14px;
	font-weight: 700;
}

.Project-item .Caption .Caption-content .Divider {
    width: 60px;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
	  border: 1px solid #222;
    margin: 12px 0;
}


.Modal {
	  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  	background: rgba(0, 0, 0, 0.8);
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.Modal .Modal-content {
	box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
	background: red;
	color: #000;
	position: relative;
	z-index: 10;
	border-radius: 10px;
	padding: 80px 0;
}

.Modal .Modal-content .Container {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: turquoise;
}

.Modal-body {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Modal-img {
	width: 60%;
	border-radius: 10px 0 0 10px;
	background: blue;
}

.Modal-info {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	text-align: start;
	line-height: 1.8;
	color: #141414;
	background-color: green;
}

.Modal-info .Line {
    width: 25%;
    border: 1px solid #fff;
    margin: 0;
}

.Modal-footer {
	  text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    color: #999;
    border-color: #272727;
	  background-color: yellow;
}

.Close-modal {
	cursor: pointer;
	position: absolute;
	top: 25px;
  right: 25px;
  width: 45px;
  height: 45px;
	padding: 0;
	z-index: 10;
	background-color: grey;
}
