.Explorers-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1b203a;
}

.Explorers-title h1 {
    font-size: 36px;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
}

.Explorers-title .Divider {
    width: 160px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Explorers-title .Divider .Line {
    width: 45%;
    border: 1px solid #222;
    margin: 0;
}
.Explorers-title .Divider .Div {
    
    display: flex;
    align-items: center;
}
.Explorers-title .Divider .Div p {
    margin: 0 10px;
    font-size: 14px;
}


.Explorers-title p {
    font-size: 21px;
    line-height: 1.4;
    margin-bottom: 80px;
    color: #888;
}
.Explorers-title h1,p {
    text-align: center;
}


.Members {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-bottom: 40px;
}

.Explorer {
    padding: 7px;
    margin: 20px 0;
}
.Explorer h5,p {
    text-align: center;
}
.Explorer h5 {
    font-size: 14px;
    margin: 10px 0;
}
.Explorer p {
    color: #888;
    margin-bottom: 10px;
}

.Explorer .Explorer-img {
    width: 100%;
	position: relative;
	overflow: hidden;
}


.Explorer .Explorer-img img {
    width: 300px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-o-transition: all 2s ease-in-out;
	-ms-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}
.Explorer .Explorer-img:hover img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.Explorer .Explorer-img .Cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 46, 82, 0.15);
    
}
.Explorer .Explorer-img .Cover .Cover-inner {
    padding: 7px;
	border-width: 2px;
    width: 85%;
    height: 85%;
    border: 3px solid #FFF;
}

.Explorer-about {
    
}