.Home {
    
}

.Section-1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.Cover-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(https://images.unsplash.com/photo-1534665482403-a909d0d97c67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80)  no-repeat fixed center;
    background-size: cover;
    background-position: 0px -60px;
    opacity: .7;
}

.Home .Section-1 .Container {
    position: relative;
    height: 100%;
}
.Intro {
    width: 100%;
    color: #fff;
    top: 460px;
    margin-top: 70px;
}

.Intro-items {
    width: 6840px;
    left: 0px;
    transition: all 800ms ease 0s;
    overflow: hidden;
}


.Intro-item {
    width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    float: left;
}


.Intro-item h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 1.1;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-shadow: -1px -1px white, 2px 2px black;
}

.Intro-item h3 {
    margin-top: 0;
    margin-bottom: 30px;
    letter-spacing: 6px;
    font-weight: normal;
    font-size: 16px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-shadow: -1px -1px #fff, 1px 1px #333;
}

.Intro-item a {
    text-decoration: none;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    background-color: #1b203a;
    color: #fff;
}

.Intro-item a:hover {
    cursor: pointer;
    background-color: #232b53;
}

.Section-2 {
    width: 100%;
    padding: 40px 0;
    background: url(http://acensjr.com/img/struckaxiom.png);
    color: #222;
}

.About {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1b203a;
    background-color: transparent;
}
.About-text {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
}
.About-text h2 {
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
}
.About p {
    font-size: 21px;
    margin-bottom: 10px;
    line-height: 1.4;
    text-align: start;
    font-style: italic;
}

.About-button {
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.About-button a {
    text-decoration: none;
    padding: 18px;
    background-color: #1b203a;
    color: #fff;
}
.About-button a:hover {
    cursor: pointer;
    background-color: #232b53;
   
}

