.Contact {
    
}

.Section-4 {
    position: relative;
    width: 100%;
    color: #fff;
    background-color: #171717;
}

.Contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.Contact-title h1 {
    font-size: 36px;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
}

.Contact-title .Divider {
    width: 160px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Contact-title .Divider .Line {
    width: 45%;
    border: 1px solid #fff;
    margin: 0;
}
.Contact-title .Divider .Div {
    
    display: flex;
    align-items: center;
}
.Contact-title .Divider .Div p {
    margin: 0 10px;
    font-size: 14px;
}


.Contact-title p {
    font-size: 21px;
    line-height: 1.4;
    margin-bottom: 80px;
}

.Contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: initial;
    margin-bottom: 80px;
}
.Contact-form {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.Contact-info {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}


.Contact-info h3 {
    margin-top: 0;
    font-weight: 700;
    font-size: 24px;
}

.Contact-info > p {
    margin-bottom: 30px;
}

.Contact-info div {
    margin-bottom: 20px;
}
.Contact-info div p {
    margin: 0px;
}

.Contact-info span {
    display: flex;
    align-items: center;
}

.Contact-info span img {
    width: 20px;
    margin-right: 10px;
}
.Contact-info p {
    text-align: start;
}



form {
    display: flex;
    flex-direction: column;
}

form input {
    height: 46px;
    padding: 0 16px;
    margin-bottom: 15px;
    background-color: rgba(255,255,255,0.06);
    border-color: #2A2A2A;
    font-size: 18px;
    line-height: 1.3333333;
    color: #888;
    font-family: inherit;
}

form input:focus {
    background-color: #171717;
	box-shadow: none;
}

form textarea {
    height: 100px;
    padding: 10px 16px;
    background-color: rgba(255,255,255,0.06);
    border-color: #2A2A2A;
    font-size: 18px;
    line-height: 1.3333333;
    margin-bottom: 15px;
    color: #888;
    font-family: inherit;
}

form textarea:focus {
    background-color: #171717;
	box-shadow: none;
}

form button {
    width: 100px;
    letter-spacing: 1.5px;
    border: none;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    background-color: #FFF;
    color: #171717;
}

form button:hover {
    background-color: #171717;
	box-shadow: none;
    color: #fff;
    cursor: pointer;
    
}