.Navbar {
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
	right: 0;
	left: 0;
    z-index: 9999;
    background-color: transparent;
    margin: 0;
	border: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.Navbar .Active {
	background-color: #fff;
	height: 64px;
}

.Navbar .Container {
	position: relative;
    padding: 16px 130px 0 50px;
    flex-direction: row;
    justify-content: space-between;
}

.Navbar .Active .Container {
    padding: 0 130px 0 50px;
}

.Navbar .Container > a {
    background-image: url("http://acensjr.com/img/NewLogoWhite.png");
    background-repeat: no-repeat;
	background-position: left center;
    background-size: 130px 50px;
	width: 192px;
	height: auto;
	padding: 24px 0;
	text-indent: -99999px;
	font-size: 24px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.Navbar a:hover {
    cursor: pointer;
}

.Navbar .Menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Navbar .Menu a {
    padding: 24px 0;
	margin-left: 16px;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
    text-decoration: none;
    color: #fff;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

.Navbar .Menu a:hover {
    color: #1b203a;
}

.Navbar .Menu .On {
    color: #1b203a;
}

.Navbar .Active .Container > a {
    background-image: url("http://acensjr.com/img/NewLogo.png");
}

.Navbar .Active .Menu {
	padding-top: 10px;
}

.Navbar .Active .Menu a {
	color: #1b203a;
}

.Navbar .Active .Menu .On {
	box-shadow: inset 0 3px #0f4575
}

.scrolltotop {
	position: fixed;
	bottom: 20px;
	right: 30px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: rgb(115, 118, 111);
	text-decoration: none;
	border: 2px solid #1b203a;
	z-index: 9999;
	opacity: .6;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.scrolltotop:hover {
	opacity: 1;
}

.scrolltotop img {
	width: 12px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}