.Footer {
    background-color: #111;
	padding: 30px 0;
    color: #fff;
}

.Footer .Container {
    flex-direction: row;
    justify-content: space-around;
}

.Socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Socials a {
    margin-right: 5px;
	color: #E83F33;
}
.Socials img {
    width: 36px;
    margin-right: 10px;
}