
.Section-3 {
    position: relative;
    width: 100%;
    color: #fff;
    background-color: #000;
}
.Cover-servicos {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(http://acensjr.com/img/services-bg.jpg) no-repeat fixed center;
    background-size: cover;
    background-position: 0 -23px;
    opacity: .1; 
}

.Servicos-title {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-delay: 0.3s;
    animation-duration: 1s;
    animation-name: fadeInUp;
}

.Servicos-title h1 {
    color: #fff;
    font-size: 36px;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
}

.Servicos-title .Divider {
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Servicos-title .Divider .Line {
    width: 45%;
    border: 1px solid #fff;
    margin: 0;
}
.Servicos-title .Divider .Div {
    
    display: flex;
    align-items: center;
}
.Servicos-title .Divider .Div p {
    margin: 0 10px;
    font-size: 14px;
}

.Servicos-title p {
    font-size: 21px;
    line-height: 1.4;
    margin-bottom: 60px;
}
.Servicos-title h1,p {
    text-align: center;
}


.Servicos-itens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.Servicos-item {
    padding: 0 15px;
    margin: 20px 0 100px 0;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-name: fadeInUp;
}

.Servicos-item-title {
    display: flex;
    align-items: center;
}

.Servicos-item .Servicos-item-title span {
    width: 40px;
	height: 40px;
	display: inline-block;
    text-align: center;
    line-height: 40px;
	margin-right: 10px;
	font-size: 32px;
	color: #1b203a;
    background-color: #1b203a;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.Servicos-item:hover .Servicos-item-title span {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.Servicos-item span img {
    width: 24px;
    height: 24px;
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.Servicos-item:hover span img {
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.Servicos-item h4 {
    font-size: 18px;
    display: inline-block;
    align-items: center;
    margin: 10px 0 10px 10px;
}
.Servicos-item p {
    text-align: start;
}