.App, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-size: 16px;
  color: #222;
  letter-spacing: 1.5px;
  font-family: 'Inconsolata', Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 700 !important;
}

.Container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



a:hover {
  cursor: pointer;
}