.Values {
    width: 100%;
    height: 600px;
}

.Values .Container {
    flex-direction: row;
    align-items: initial;
    padding-top: 60px;
    height: 540px;
}
.Mural {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.Qualidades {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.Mural ul {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.Mural li {
    padding: 10px 0 0;
}
.Mural ul li a {
    padding: 10px;
    text-decoration: none;
    color: #1b203a;
    border: 1px solid #1b203a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mural ul li a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


.ON {
    padding: 24px;
    border: 1px solid #000;
    color: #1b203a;
}

.ON h5 {
    font-size: 14px;
    margin: 10px 0;
}

.ON p {
    text-align: initial;
}

.ON a {
    text-decoration: none;
    border: none;
    font-weight: 700;
    color: #1b203a;
}

.ON a:hover {
    text-decoration: underline;
}

.Info {
    visibility: hidden;
}
.ON {
    visibility: visible;
}

.Qualidades h3 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.1;
}

.Qualidades h5 {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.1;
}
.Bar {
    background-color: #1b203a;
    height: 5px;
    margin-bottom: 20px;
}